<h3 style="margin-top: 90px">Import Multiple Items</h3>
<hr style="margin-top: 0; margin-bottom: 60px;">


  <%= form_tag import_items_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag("Import", :class=>"btn btn-default") %>
  <% end %>
  

<h3 style="margin-top: 60px">Instructions</h3>
<hr style="margin-top: 0; margin-bottom: 30px;">  

<dl class="dl-horizontal">
  <dt>File Format</dt>
  <dd>Only CSV (Comma Separated Values) files can be used to import multiple items at once.</dd>
  <dt>Specifications</dt>
  <dd>The first row of the CSV must be the column headers.</dd>
  <dt>Field Validations</dt>
  <dd>All values must conform to the corresponding field constraints.</dd>
  <dt>Warning</dt>
  <dd>Even if a single Item fails validation check, entire CSV file will be disqualified.</dd>
  <dt>View Sample File</dt>
  <dd><%= link_to "Acceptable CSV Format", "/InSightCSVsample.csv", { :class=>"btn btn-primary btn-xs" } %></dd>
</dl>