<h1><br><br>StaticPages#spage2</h1>
<p>Find me in app/views/static_pages/spage2.html.erb</p>

<button><%= link_to 'Download CSV File', items_path(format: :csv) %></button>
<button><a href="/items.json">Download JSON</a></button>
<button><a href="/items.xml">Download XML</a></button>