
<!-- Show All Items in DB
  (This is User show page but user's items are 
    being displayed instead.)
=================================================-->


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 style="margin-top: 90px">Items</h3>
    <% if @user.items.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        
        <tbody>
          <%= render @items %>
        </tbody>
      </table>
      <%= will_paginate @items %>
    <% end %>
  </div>
</div>