</div><!-- end main container from application.html.erb -->
    
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>InSight</h1>
                        <h3>Inventory Management SaaS on the Cloud</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/signup" class="btn btn-default btn-lg"><i class="fa fa-edit fa-fw"></i> <span class="network-name">Signup</span></a>
                            </li>
                            <li>
                                <a href="/login" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.intro-header -->
    
    <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Your Inventory :<br>Always in your Control</h2>
                    <p class="lead">Unlike other simplistic approaches, InSight's calculation Algorithms take into account Inventory attributes that gives you a better Analysis every time.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("Services1.png", class: "img-responsive") %>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.content-section-a -->
    
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">InSight Dashboard<br></h2>
                    <p class="lead">Our Dashboard gives you customizable visuals and analysis on your inventory as well as the ability to share them with your colleagues.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("Services2.png", class: "img-responsive") %>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.content-section-b -->
    
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Connectivity :<br>At your Fingertips</h2>
                    <p class="lead">Connect InSight with your Supply Chain apps through our RESTful APIs. Receive data through webforms or mass uploads and send them over JSON or XML.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("Services3.png", class: "img-responsive") %>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.content-section-a -->
    
    <a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.banner -->

<div class="container"><!-- Restart the main container from application.html.erb -->
