@import "bootstrap-sprockets";
@import "bootstrap";


/* --------------------------------------
   Typography
   -------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/* --------------------------------------
   Jumbotron Home Page
   -------------------------------------- */
.jumbotron { margin-top: 90px; }


/* --------------------------------------
   Debug Information
   -------------------------------------- */
.debug_dump { margin-top: 90px; }


/* --------------------------------------
   Sign Up page
   -------------------------------------- */
#signup { margin-top: 90px; }
#error_explanation { color: red; margin-bottom: 30px;}
.field_with_errors { @extend .has-error; }
.form-group { margin-bottom: 20px; width: 400px; }
.input-group { height: 40px; }
.form-control { height: 40px; }


/* --------------------------------------
   Application.html.erb
   -------------------------------------- */
#greenAlert { margin-top: 90px; margin-bottom: 0px;}


/* --------------------------------------
   Log in page
   -------------------------------------- */
#login { margin-top: 90px; }


/* --------------------------------------
   User edit page
   -------------------------------------- */
#useredit { margin-top: 90px; }


/* --------------------------------------
   Horizontal Rule
   -------------------------------------- */
hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* --------------------------------------
   Single Item Creation Form
   -------------------------------------- */
.new_item .form-group { width: 110%; }   

/* --------------------------------------
   Single Item Edit Form
   -------------------------------------- */
.edit_item .form-group { width: 110%; }   


/* --------------------------------------
   Home Page Export Section
   -------------------------------------- */
#exportPanels { text-align: center; margin-top: 20px; }

#exportPanels img{ margin: 0 0 20px; }

#exportPanels h4 { margin: 0 0 0; }

#exportPanels .panel-heading { padding: 8 0 8; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #BDBDBD;
}

.footer img { margin-top: 7px; }

/* --------------------------------------
   Thumbnail in Dashboard Section
   -------------------------------------- */
.thumbnail h3 {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 20px;
}   


/* --------------------------------------
   Item Attributes in Dashboard Page
   -------------------------------------- */
#itemAttrib { text-align: center; margin-top: 90px }

#itemAttrib1 { background-color: #337ab7; color: white; font-weight: bold; height: 113px;}
#itemAttrib2 { background-color: #5cb85c; color: white; font-weight: bold;}
#itemAttrib3 { background-color: #f0ad4e; color: white; font-weight: bold;}
#itemAttrib4 { background-color: #d9534f; color: white; font-weight: bold;}